<!doctype html>
<html>
	<head>
		<meta charset="UTP-8">
		<link rel="stylesheet" href="public/src/css/style.css">
	</head>

	<body>
		<header>
			<% include partials/header.ejs %>
		</header>

		<h1>Home<h1>
		<p>this is home</p>

		<footer>
			<% include partials/footer.ejs %>
		</footer>

	</body>
</html>